{
  "openapi": "3.1.0",
  "info": {
    "version": "2.0",
    "title": "Picsart Programmable Image APIs",
    "description": "[Official technical documentation portal](https://docs.picsart.io/)\n[Developer Guidelines](https://picsart.io/terms)\n"
  },
  "servers": [
    {
      "url": "https://api.picsart.io/tools/1.0",
      "description": "Production"
    }
  ],
  "paths": {
    "/removebg": {
      "post": {
        "summary": "Remove & Change Background",
        "operationId": "image-remove-background",
        "description": "Discover the magic of seamless background removal with our removebg service, powered by cutting-edge AI technology. Our sophisticated algorithm effortlessly identifies and isolates the foreground,  ensuring every detail from the delicate intricacies of jewelry to the finest strands of hair is captured with unparalleled precision.  Designed to excel across a vast array of use cases, our service guarantees immaculate cutouts,  whether for professional product photos, dynamic campaign graphics, or personal images meant for creative exploration.  Experience flawless edges and exceptional detail preservation every time, elevating your images beyond the ordinary. \n \n**Limitations:**\n\n  The recommended composition of an Image, in order to be optimally processed using the \"removebg\" service, is:\n  * less busy background\n  * high contrast (background/foreground)\n  * background/foreground is distinguishable by naked eye \n  \n\n  The foreground should be visually clear, high contrast with relatively sharp edges. The foreground should also be comparably big in the photo. Supported source image formats are JPG, PNG, TIFF, WEBP, and MPO. \n\n**Examples:**\n\n  Examples of where the remove background service can be utilized include the following:\n  * Animals\n  * Products\n  * Apparel\n  * Person\n  * Cars\n  * Furniture\n\n**Options:**\n  * You have two options for removing the background, either \"cutout\" or \"mask\"\n  * You can control background color\n  * You can control background blur\n  * You can control background height and width\n  * You have two scaling options, either \"fit\" or \"fill\"\n\n**Source Image:**\n\n   If you plan to remove the background several times using different parameters from the list below, we recommend you first upload the source image using the *Upload* method and then use the reference image ID. Otherwise, you can source the image by providing a file or a URL to an online image.\n\n**Authorization:**\n  \n   Start transforming your images today! Just remember, accessing our powerful API requires an API key.\n   Make sure it's included in your request header **X-Picsart-API-Key** for smooth authorization.\n   This key unlocks the full potential of our remove background service,\n   ensuring you can seamlessly integrate these capabilities into your own platform.\n\nDiscover the possibilities with Picsart and transform the way you work with images. Whether it's for a product for sale, graphical materials for your best campaign, or just personal images for fun editing, you'll get clear edges with awesome detail preservation with our remove background service.\n",
        "tags": [
          "Remove Background"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "image": {
                        "description": "Source image file (binary). (If this parameter is present, the other image source parameters must be empty.)",
                        "type": "string",
                        "format": "binary"
                      },
                      "image_url": {
                        "type": "string",
                        "description": "Source image URL. (If this parameter is present, the other image source parameters must be empty.)"
                      },
                      "image_id": {
                        "type": "string",
                        "description": "Source image ID of an image previously uploaded to Picsart or result image ID from a different API. (If this parameter is present, the other image source parameters must be empty.)"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "output_type": {
                        "type": "string",
                        "default": "cutout",
                        "enum": [
                          "mask",
                          "cutout"
                        ],
                        "description": "Select one of the two output options. If you submit a photo of a person, **cutout** returns the person as a sticker while **mask** returns a mask photo of the person.\n"
                      },
                      "bg_image": {
                        "description": "Source image file (binary). (If this parameter is present, the other image source parameters must be empty.) This only has an effect when output=cutout.",
                        "type": "string",
                        "format": "binary",
                        "nullable": true
                      },
                      "bg_image_url": {
                        "type": "string",
                        "nullable": true,
                        "description": "Source image URL. (If this parameter is present, the other image source parameters must be empty.) If this has a value, the output value is dismissed."
                      },
                      "bg_image_id": {
                        "type": "string",
                        "nullable": true,
                        "description": "Source image ID of an image previously uploaded to Picsart or result image ID from a different API. (If this parameter is present, the other image source parameters must be empty.) See /upload method. If this has a value, the output value is dismissed."
                      },
                      "bg_color": {
                        "type": "string",
                        "nullable": true,
                        "description": "Can be a hexcolor code (e.g., #82d5fa, #fff) or a color name (e.g., blue). For semi-transparency, 4-/8-digit hexcodes are also supported (e.g., #18d4ff87). (If this parameter is present, the other bg_ parameters must be empty).\n"
                      },
                      "bg_blur": {
                        "type": "integer",
                        "default": 0,
                        "minimum": 0,
                        "maximum": 100,
                        "description": "Enter an integer value from 0 to +100."
                      },
                      "bg_width": {
                        "type": "integer",
                        "description": "Size, in pixels, for the width. If left blank, the background is left at its original width.\n"
                      },
                      "bg_height": {
                        "type": "integer",
                        "description": "Size, in pixels, for the height. If left blank, the background is left at its original height.\n"
                      },
                      "scale": {
                        "type": "string",
                        "enum": [
                          "fit",
                          "fill"
                        ],
                        "default": "fit",
                        "description": "Fit is where the longer side (width/height) fits the background. Fill is where the shorter side fits the background. Fit is the default.\n"
                      },
                      "auto_center": {
                        "type": "boolean",
                        "default": false,
                        "description": "Automatically center the object. Works only, when output_type=cutout.\n  We don't recommend using this flag when the object is visible only partially (e.g. half-cup or half-shoe is in the image).\n"
                      },
                      "stroke_size": {
                        "type": "integer",
                        "nullable": true,
                        "default": 0,
                        "minimum": 0,
                        "maximum": 100,
                        "description": "Add a solid stroke (border) around the cutout result. Works when output_type=cutout. Set 0 to remove. Takes values from 0 to 100.\n"
                      },
                      "stroke_color": {
                        "type": "string",
                        "nullable": true,
                        "default": "FFFFFF",
                        "description": "Define the color of the stroke. \n  Can be a hexcolor code (e.g., #82d5fa, #fff; with or without #) or a color name (e.g., blue; in English).\n  For semi-transparency, 4-/8-digit hexcodes are also supported (e.g., #18d4ff87).\n  Gets applied if the stroke_size is 1 and above.\n"
                      },
                      "stroke_opacity": {
                        "type": "integer",
                        "nullable": true,
                        "default": 100,
                        "minimum": 0,
                        "maximum": 100,
                        "description": "Define the opacitiy of the stroke added to the cutout result. Works when output_type=cutout and stroke_size is 1 and above.\n  Takes values from 0 to 100. Default is 100 (opaque). Set to 0 to make it transparent.\n"
                      },
                      "shadow": {
                        "type": "string",
                        "enum": [
                          "disabled",
                          "custom",
                          "bottom-right",
                          "bottom",
                          "bottom-left",
                          "left",
                          "right",
                          "top-left",
                          "top",
                          "top-right"
                        ],
                        "default": "disabled",
                        "description": "A universial parameter to configure the shadow. The default value is \"disabled\" and it will make sure that the shadow is not rendered. The \"custom\" value allows to define custom position for the shadow, when this value is chosen, the shadow_offset_x and the shadow_offset_y will get applied. Other values are shadow directions with preset shadow setup (10px).\n"
                      },
                      "shadow_opacity": {
                        "type": "integer",
                        "default": 20,
                        "nullable": true,
                        "minimum": 0,
                        "maximum": 100,
                        "description": "Shadow Opacity. Works when shadow is enabled (a non-disabled value)."
                      },
                      "shadow_blur": {
                        "type": "integer",
                        "default": 50,
                        "nullable": true,
                        "minimum": 0,
                        "maximum": 100,
                        "description": "Shadow Blur. Works when shadow is enabled."
                      },
                      "shadow_offset_x": {
                        "type": "integer",
                        "nullable": true,
                        "minimum": -100,
                        "maximum": 100,
                        "description": "Shadow Offest X. This is mandatory to specify when shadow=custom."
                      },
                      "shadow_offset_y": {
                        "type": "integer",
                        "nullable": true,
                        "minimum": -100,
                        "maximum": 100,
                        "description": "Shadow Offset Y. This is mandatory to specify when shadow=custom."
                      },
                      "format": {
                        "type": "string",
                        "enum": [
                          "JPG",
                          "PNG",
                          "WEBP"
                        ],
                        "default": "PNG",
                        "description": "Optionally select one of the image formats (PNG is chosen if left blank). Options are as follows:\n  * JPG\n  * PNG\n  * WEBP\n"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          }
        }
      }
    },
    "/upscale": {
      "post": {
        "summary": "Upscale",
        "operationId": "image-upscale",
        "description": "**Service Description:**\n\n  The *upscale* service increases the resolutions of an image by a given upscale factor, without increasing its file size. Upscale increases the quality and resolution of your photos by leveraging predictive and generative AI to add pixels to your image. It works especially well on images without noise.\n\n**Limitations:**\n\n  Images can be upscaled up to 8 times. Images can be upscaled with outputs up to 4800x4800 (16 Mpx). Supported source image formats are JPG, PNG, TIFF and WEBP. \n\n**Minimums/Maximums:**\n   Upscale Factor    | Input Image Maximum Recommended Resolution (width x height)\n   ------------------| ----------------------------------------\n   2                 | 2000x2000\n   4                 | 1024x1024\n   6                 | 800x800\n   8                 | 600x600\n\n**Examples:**\n\n  Examples of where the upscale service can be utilized include the following:\n  * High resolution images\n\n\n**Rules:**\n\n  The image should have sharp details.\n\n**Source Image:**\n\n  If you plan to upscale an image several times, we recommend you first upload the source image using the *Upload* method and then use the reference image ID. Otherwise, you can source the image by providing a file or a URL to an online image.\n\n**Authorization:**\n\n  Requires an API key to be provided in the **X-Picsart-API-Key** request header.\n",
        "tags": [
          "Photo enhancement"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "image": {
                        "description": "Source image file (binary). (If this parameter is present, the other image source parameters must be empty.)",
                        "type": "string",
                        "format": "binary"
                      },
                      "image_url": {
                        "type": "string",
                        "description": "Source image URL. (If this parameter is present, the other image source parameters must be empty.)"
                      },
                      "image_id": {
                        "type": "string",
                        "description": "Source image ID of an image previously uploaded to Picsart or result image ID from a different API. (If this parameter is present, the other image source parameters must be empty.)"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "upscale_factor": {
                        "type": "integer",
                        "default": 2,
                        "enum": [
                          2,
                          4,
                          6,
                          8
                        ],
                        "description": "Choose one of the upscale factors. The option are as follows\n  * 2\n  * 4\n  * 6\n  * 8\n"
                      },
                      "format": {
                        "type": "string",
                        "default": "JPG",
                        "enum": [
                          "JPG",
                          "PNG",
                          "WEBP"
                        ],
                        "description": "Optionally select one of the output image formats (JPG is chosen if left blank). Options are as follows:\n  * JPG\n  * PNG\n  * WEBP\n"
                      }
                    },
                    "required": [
                      "upscale_factor"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          }
        }
      }
    },
    "/upscale/ultra": {
      "post": {
        "summary": "Ultra Upscale",
        "operationId": "image-ultra-upscale",
        "description": "**Service Description:** *Upscale Ultra* is a new upscaling technique which does upscaling with noise suppression. It works well on images with faces, small resolution images, stickers and objects with geometric shapes and clear edges. Upscale ultra increases the quality and resolution of low quality photos by leveraging predictive and generative AI technology in order to \"complete\" missing pixels for a best in class smoothing and enhancement effect. It works especially good on small resolution images with faces.\n\n**Limitations:**\n  Images can be upscaled up to 16 times. Supported source image formats are JPG, PNG, TIFF and WEBP. \n\n**Minimums/Maximums:**\n  * Up to 4Mpx (2048x2048) input images\n  * Up to 64Mpx output images\n\n**Examples:**\n  Examples of where the upscale ultra service can be utilized include the following:\n   * Low resolution images\n   * Images that need smoothing\n\n**Options:**\n  This service allows users to choose from *synchronous*, *asynchronous* and *auto-mode* type of processing. The asynchronous service is preferred when processing large final size image files or when using high upscaling factors. When done asynchronously, rather than receiving a URL to the finished image, you will receive a transaction_id to use with the GET method to retrieve the transformed image. Options are detailed below:\n  * **Sync**: issues a synchronous request, response is given when the result is ready. In case of processes which take too long (>55 seconds), the request returns an error after timeout. Based on the estimated (calculated by the algorithm) final size of an image, there is also an auto-switching mechanism which automatically switches the processing mode to the async mode, if the estimated final size of the respective image is larger than 4Mpx.\n  * **Async**: forces an asynchronous request, and the response, which is instantaneous, contains a \"transaction_id\" which is used to poll for the result. For async processing, the request runs in async mode either until it returns a result or stops after 24 hours.\n  * **Auto**: the processing mode decision is made automatically by the service, depending upon image size (estimated final size of an image should exceed 4Mpx to choose async automatically).\n\n  **Source Image:**\n    If you plan to upscale ultra an image several times, we recommend you first upload the source image using the *Upload* method and then use the reference image ID. Otherwise, you can source the image by providing a file or a URL to an online image.\n\n  **Authorization:**\n    Requires an API key to be provided in the **X-Picsart-API-Key** request header.\n",
        "tags": [
          "Photo enhancement"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "image": {
                        "description": "Source image file (binary). (If this parameter is present, the other image source parameters must be empty.)",
                        "type": "string",
                        "format": "binary"
                      },
                      "image_url": {
                        "type": "string",
                        "description": "Source image URL. (If this parameter is present, the other image source parameters must be empty.)"
                      },
                      "image_id": {
                        "type": "string",
                        "description": "Source image ID of an image previously uploaded to Picsart or result image ID from a different API. (If this parameter is present, the other image source parameters must be empty.)"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "upscale_factor": {
                        "type": "integer",
                        "default": 2,
                        "enum": [
                          2,
                          3,
                          4,
                          5,
                          6,
                          7,
                          8,
                          9,
                          10,
                          11,
                          12,
                          13,
                          14,
                          15,
                          16
                        ],
                        "description": "Upscale an image with a given upscale factor. The upscale factor increases the image’s resolution without increasing its size. Upscale factor can be between 2 - 16 (default is 2).\n"
                      },
                      "format": {
                        "type": "string",
                        "default": "JPG",
                        "enum": [
                          "JPG",
                          "PNG",
                          "WEBP"
                        ],
                        "description": "Optionally select one of the image formats. Options are as follows:\n  * JPG\n  * PNG\n  * WEBP\n"
                      },
                      "mode": {
                        "type": "string",
                        "default": "sync",
                        "enum": [
                          "sync",
                          "async",
                          "auto"
                        ],
                        "description": "Use this query parameter to establish the processing mode. Acceptable values are sync, async and auto:\n  * sync: issues a synchronous request, response is given when the result is ready.\n  * async: forces an asynchronous request, the response, which is instantaneous, contains a \"transaction_id\" which is used to poll for the result.\n  * auto: the processing mode decision is made by the service, which depends upon the expected processing time.\n"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "202": {
            "description": "Requested successfully accepted when doing asynchronous transformation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "431": {
            "description": "Request Header Fields Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            },
            "headers": {
              "X-Picsart-Correlation-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id which will help for troubleshooting request chain in the system."
              },
              "X-Picsart-Ratelimit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time."
              },
              "X-Picsart-Ratelimit-Reset-Time": {
                "schema": {
                  "type": "integer"
                },
                "description": "The time when the used request count resets and the number of available calls gets equal to the total number."
              },
              "X-Picsart-Credit-Available": {
                "schema": {
                  "type": "integer"
                },
                "description": "The remaining number of the credits on the balance."
[...]
